@import "src/global";

.container {
  position: relative;
  top: 52px;
  left: 50px;
  max-width: 500px;
  min-width: 500px;
  @media (max-width: $break-point) {
    top: 0;
    left: 0;
  }
}

.text {
  margin: 0;
  color: #495455;
  text-transform: uppercase;
}

.mainText {
  @extend .text

}

.subText {
  @extend .text
}

.iconsContainer {
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
  margin-right: .5rem;
  color: #F7755A;
}

.pdf {
  @extend .icon;
  width: 1.1rem;
}

.profile {
  @extend .paragraph;
  max-width: 350px;
}

.pop {
  @extend .paragraph;
  font-weight: 300;
}

.line {
  border: .5px solid #E8E8E8;
}
