@import "src/global";

body {
  background-color: #313A45;
}

.app {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  @media (max-width: $break-point) {
    margin: 0;
  }
  @media (max-width: $break-point2) {
    margin: 0;
    flex-direction: column;
  }
}

*::selection {
  color: white;
  background: #EFC900;
}

