@import "src/global";

.container {
  display: flex;
  margin-top: 1rem;
  @media (max-width: $break-point) {
    flex-direction: column;
  }
}

.currentSkillsContainer {
  margin-right: 2rem;
}

.skillList {
  margin: .5rem 0 0 0;
  padding: 0;
}
