@import "src/global";

.detailsContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;

  @media (max-width: $break-point) {
    flex-direction: column;
  }

  p {
    @extend .paragraph;
  }

  .btnContainer {
    margin-top: 2rem;
  }

}

